<div class='container'>
  <div class='row'>
    <div class='col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto'>
      <h2>投書箱</h2>
      <div>
        内容を確認してください。
        投書の内容は以下でよろしいでしょうか？
      </div>
      <div>
        <%= form_with model: @suggestion, url: public_suggestions_path, method: :post do |f| %>
          <div class="white">
            <div>
              <h5><%= @suggestion.title %></h5>
              <%= f.hidden_field :title, value: @suggestion.title %>
            </div>
            <div>
              <%= safe_join(@suggestion.body.split("\n"),tag(:br)) %>
              <%= f.hidden_field :body, value: @suggestion.body %>
            </div>
          </div>
          <div>
            <%= f.submit "修正する", name: :back, class: "btn btn-info" %>
            <%= f.submit "投書する", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
