<div>
  <%= flash[:notice] %>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>Group info</h2>
      <%= render 'public/groups/info', user:@group %><br>
      <%= link_to public_group_edit_path do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
      <div>
        <h5>グループメンバー一覧</h5>
        <% @users.each do |user| %>
          <div>
            <%= image_tag user.get_user_image %>
            <%= user.name %>
          </div>
        <% end %>
      </div>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h5>チャットコーナー</h5>
        <%# if @group_messages.present? %>
          <%# @group_messages.each do |group_message| %>
            <div>
              <%#= group_message.created_at.strftime('%Y/%m/%d') %><br>
              <%#= group_message.user.name %>:<%#= group_message.body %>

              <%# if current_user == group_message.user || admin_signed_in? %>
                <%#= link_to 'Destroy', public_group_message_path(group_message.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
              <%# end %>

            </div>
          <%# end %>
        <%# end %>

        <div>
          <%#= form_with model: @group_message, url: public_group_messages_path, method: :post do |f| %>
            <%#= f.text_area :body, placeholder:"メッセージを入れてください", cols:"50", rows:"2" %>
            <%#= f.submit "投稿",class:"btn btn-primary" %>
          <%# end %>
        </div>
    </div>
  </div>
</div>