<h2>管理者ログイン</h2>

<%= form_with model: @admin, url: admin_session_path do |f| %>
  <table>
    <tr>
      <div class="form-group">
        <td><%= f.label :email, "メールアドレス" %></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
      </div>
    </tr>
    <tr>
      <div class="form-group">
        <td><%= f.label :password,"パスワード" %></td>
        <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
      </div>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
