<div class="container">
  <div class="col-lg-12 top-items">
    <div class="top-item">
      <%= link_to public_messages_path do %>
        <div><%= image_tag('castle-1.jpg' ,size:"150x150" ) %></div>
        <span>公開チャットルーム</span>
      <% end %>
    </div>
    <div class="top-item">
      <%= link_to public_users_path do %>
        <div><%= image_tag('tree.jpg', size:"150x150" ) %></div>
        <span>ユーザー一覧</span>
      <% end %>
    </div>
    <div class="top-item">
      <%= link_to public_groups_path do %>
        <div><%= image_tag('coffeecup.jpg', size:"150x150" ) %></div>
        <span>グループ一覧</span>
      <% end %>
    </div>
    <div class="top-item">
      <%= link_to about_path do %>
        <div><%= image_tag('well.jpg', size:"150x150" ) %></div>
        <span>どんなサイト？</span>
      <% end %>
    </div>
      <% if user_signed_in? %>
        <div class="top-item">
          <%= link_to public_user_path(current_user.id) do %>
            <div><%= image_tag('wheat.jpg' ,size:"150x150" ) %></div>
            <span>マイページ</span>
          <% end %>
        </div>
        <div class="top-item">
          <%= link_to new_public_suggestions_path do %>
            <div><%= image_tag('bird.jpg' ,size:"150x150" ) %></div>
            <span>投書箱</span>
          <% end %>
        </div>
      <% end %>
  </div>
</div>