<table class="table table-inverse white">
  <tbody>
    <% if stories.present? %>
      <% stories.each do |story| %>
        <tr>
          <td><%= link_to story.title, public_story_path(story.id) %></td>
          <td><%= story.summary %></td>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td></td>
          <td><%= link_to story.genre.name, public_genre_path(story.genre.id) %></td>
          <td class="favorite_buttons_<%= story.id %>"><%= render "public/favorites/favorite", story: story %></td>
          <td>コメント数:<%= story.story_comments.count %></td>
          <% if user_signed_in? && story.user == current_user %>
            <td><%= link_to '編集', edit_public_story_path(story.id), class: "btn btn-sm btn-outline-success" %></td>
            <td><%= link_to '削除', public_story_path(story.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger"%></td>
          <% else %>
            <td colspan="2"></td>
          <% end %>
          <% if admin_signed_in? %>
            <td><%= link_to '閲覧不可にする', admin_story_path(story.id), method: :patch, data:{ confirm: '閲覧不可にしますか？', class: "btn btn-sm btn-outline-danger"%></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>