<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/users/info', user: @user %>
    </div>
    <div class='col-md-8 offset-md-1 story-form'>
  		<%= form_with model: @story, url: public_stories_path, method: :post do |f| %>
  		  <%= render 'layouts/errors', obj: @story %>
        <div class="form-group">
          <%= f.label :title, "タイトル(50文字以内)" %>
  		    <%= f.text_area :title, placeholder:"タイトルを入れてください", class: "title-text", cols:"50", rows:"1" %>
  		    <p class = "title-counter">0</p>
  		  </div>
  		  <div class="form-group">
  		    <%= f.label :summary, "要約(100文字以内)" %>
  		    <%= f.text_area :summary, placeholder:"要約を入れてください", id: "summary-text", cols:"50", rows:"2" %>
  		    <p id = "summary-counter">0文字</p>
  		  </div>
  		  <div class="form-group">
  		    <%= f.label :body, "本文(2000文字以内)" %>
  		    <%= f.text_area :body, placeholder:"本文を入れてください", id: "story-counter", cols:"50", rows:"10" %>
  		    <p id = "story-counter">0文字</p>
  		  </div>
        <div class="form-group">
    		  <%= f.label :is_private, '公開', value: false %>
    		  <%= f.radio_button :is_private, false, {:checked => true} %>
    		  <%= f.label :is_private, '非公開', value: true %>
    		  <%= f.radio_button :is_private, true %>
    		</div>
    		<div class="form-group">
    		  <% @genres.each do |genre| %>
    		    <%= f.radio_button :genre_id, genre.id %>
    		    <%= f.label :genre_id, value: genre.name %><br>
    		  <% end %>
    		</div>
        <div class="form-group">
  		    <%= f.submit "投稿",class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>