<div class='container'>
  <div class='row'>

    <div class='col-md-3 white'>
      <%= render 'public/users/info', user: @user %>
      <div>
        <%= link_to "ユーザーページ", user_path(@user.id) %>
      </div>
    </div>
    <div class='col-md-8 offset-md-1 white'>
  		<div class="story-title">
  		  <h2><%= @story.title %></h2>
      </div>
      <div class="story-summary">
        <%= safe_join(@story.summary.split("\n"),tag(:br))%>
      </div>
      <div class="story-body">
        <%= safe_join(@story.body.split("\n"),tag(:br))%>
      </div>
      <div>
        <span class="sentiment-score">本文の感情分析スコア<%= @story.score %></span>
      </div>
      <div>
        <% if @story.user == current_user %>
          <%= link_to '編集', edit_story_path(@story), class: "btn btn-sm btn-success" %>
          <%= link_to '削除', story_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
          <% if @story.is_private == true %>
            <div>現在、ストーリーは非公開になっています</div>
          <% end %>
        <% end %>
      </div>
      <% if admin_signed_in? %>
        <div>
          <% if @story.is_deleted == false %>
            <%= link_to '閲覧制限をかける', admin_story_path(@story.id), method: :patch, data: { confirm: '閲覧を制限しますか？' }, class: "btn btn-sm btn-outline-danger"%>
          <% else %>
            <%= link_to '制限を解除する', admin_story_path(@story.id), method: :patch, data: { confirm: '制限を解除しますか？' }, class: "btn btn-sm btn-outline-success"%>
          <% end %>
        </div>
      <% end %>
      <div class="favorite_buttons_<%= @story.id %>"><%= render "public/favorites/favorite", story: @story %></div>

      <div id="story_comments_<%= @story.id %>">
        <%= render "public/story_comments/comment", story_comments: @story_comments, story_comment: @story_comment, story: @story, comments: @comments %>
      </div>

  </div>
</div>