<div class='container'>
  <div class='row'>
    <div class='col-md-3 white'>
      <%= render 'public/users/info', user:@user %>
      <div>
        <%= link_to "ユーザーページ", public_user_path(@user.id) %>
      </div>
    </div>
    <div class='col-md-8 offset-md-1 white'>
  		<div class="story-title">
  		  <h2><%= @story.title %></h2>
      </div>
      <div class="story-body">
        <%= @story.body %>
      </div>
      <div>
        <div>
          <% if @story.user == current_user %>
            <%= link_to 'Edit', edit_public_story_path(@story), class: "btn btn-sm btn-success" %></td>
            <%= link_to 'Destroy', public_story_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </div>
        <%= render "public/favorites/favorite", story: @story %>
        <div>コメント数:<%= @story_comments.count %></div>
      </div>
      <div id="">
        <%#= render "book_comments/comment", book_comments: @book_comments, book: @book %>
        <% if @story_comments.present? %>
          <% @story_comments.each do |story_comment| %>
            <div>
              <%= image_tag story_comment.user.get_user_image, size:"30x30", class:"rounded-circle border border-warning" %>
              <div  class="story-comment">
                <%= story_comment.comment.body %>
                <% if story_comment.user == current_user %>
                  <%= link_to "コメント削除", public_story_story_comment_path(@story.id, story_comment.id), method: :delete %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
        <%= paginate @story_comments %>
      </div>
      <div class="comment-form">
        <h6>送りたいコメントを選んでください</h6>
        <%= form_with model:[:public, @story, @story_comment], local:true, method: :post do |f| %>
          <% @comments.each do |comment| %>
            <div>
            <%= f.radio_button :comment_id, comment.id %>
            <%= f.label :comment_id, comment.body %>
            </div>
          <% end %>
          <%= f.submit "送信", class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>