<div>
  <%= flash[:notice] %>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'public/users/info', user:@user %><br>
      <% if admin_signed_in? %>
        <% if @user.is_deleted == false %>
          <%= link_to '退会させる', admin_user_path(@user.id), method: :patch, data: { confirm: '本当に退会させますか？' }, class: "btn btn-sm btn-danger"%>
        <% else %>
          <%= link_to '有効にする', admin_user_path(@user.id), method: :patch, data: { confirm: 'ユーザーを有効化しますか？' }, class: "btn btn-sm btn-success"%>
        <% end %>
      <% end %>
      <%= link_to "ストーリー一覧", my_page_index_path(@user.id) %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Users Stories</h2>
  		<table class='table'>
  		  <tr>
  		    <% if @stories.present? %>
    		    <%= @stories.each do |story| %>
            <td><%= link_to story.title, public_story_path(story.id) %></td>
            <td id="favorite_buttons_<%#= @book.id %>">
              <%#= render "favorites/favorite", book: @book %>
            </td>

            <td>コメント数:<%#= @book.book_comments.count %></td>
            <td>閲覧数:<%#= @book.view_counts.count %></td>
            <% end %>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>