<h2>Log in</h2>

<%= form_with model: @user, url: user_session_path do |f| %>
  <table>
    <tr>
      <div class="field">
        <td><%= f.label :name,"ニックネーム" %></td>
        <td><%= f.text_field :name, autofocus: true, autocomplete: "name" %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td><%= f.label :password,"パスワード" %></td>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </div>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-primary" %>
  </div>
<% end %>
<div>  
  <%= render "public/shared/links" %>
</div>
