<div class='container'>
  <div class='row'>
    <div class='col-sm-12'>
      <h2>ログイン</h2>
      
      <%= form_with model: @user, url: user_session_path do |f| %>
        <table>
          <tr>
            <div class="form-group">
              <td><%= f.label :name,"ニックネーム" %></td>
              <td><%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %></td>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <td><%= f.label :password,"パスワード" %></td>
              <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
            </div>
          </tr>
        </table>
        <div class="actions">
          <%= f.submit "ログイン", class:"btn btn-primary" %>
        </div>
      <% end %>
      <div>
        <%= render "public/shared/links" %>
      </div>
    </div>
  </div>
</div>