<div>
  <%= flash[:notice] %>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'public/users/info', user:@user %><br>
      <div>
        <% if @user==current_user %>
          <%= link_to edit_public_user_path(current_user.id) do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        <% end %>
      <div>
        <% if current_user.following?(@user) %>
          <%= link_to "フォローを外す", public_user_relationships_path(@user.id), method: :delete, class: "btn btn-info" %>
        <% else %>
          <%= link_to "フォローする", public_user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
        <% end %>
      </div>
      <div>
        <%= link_to "フォロー一覧", public_user_relationships_followings_path(@user.id) %>
        <%= link_to "フォロワー一覧", public_user_relationships_followers_path(@user.id) %>
      </div>
      <%= link_to "ストーリー一覧", public_path(@user.id) %>
      <div>
        <%= link_to "ストーリーを投稿する", new_public_story_path %>
      </div>
      <div>
        <%= link_to "お気に入りのストーリー一覧", public_favorite_path(@user.id) %>
      </div>
      <div>
        <%= link_to "参加しているグループ一覧", public_users_group_index_path(@user.id) %>
        <%= link_to "新しいグループを作成する", new_public_group_path %>
      </div>
    </div>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Users Stories</h2>
  		<table class='table'>
  		  <tr>
  		    <% if @stories.present? %>
    		    <% @stories.each do |story| %>
            <td><%= link_to story.title, public_story_path(story.id) %></td>
            <td id="favorite_buttons_<%#= @book.id %>">
              <%= render "public/favorites/favorite", story: story %>
            </td>
              <% if story.user==current_user %>
                <td><%= link_to 'Edit', edit_public_story_path(story.id), class: "btn btn-sm btn-success" %></td>
                <td><%= link_to 'Destroy', public_story_path(story.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
              <% end %>
            <td>コメント数:<%= story.story_comments.count %></td>
            <% end %>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>